.nav {
  height: .76rem;
  background-color: #eeeeee;
  color: black;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  line-height: .76rem;
  margin-left: .2rem;
  font-size: .28rem;
}
.banner {
  height: .8rem;
  color: #874604;
  line-height: .8rem;
  border: 1px solid #ccc;
  background-color: #eeeeee;
  font-size: .32rem;
  text-indent: .2rem;
  margin-top: .2rem;
}
.banner ul {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 100%;
  margin-top: .2rem;
}
.banner ul li {
  padding-left: 16px;
  border-bottom: 1px solid #ccc;
  background-color: #eeeeee;
  height: .8rem;
}
.banner ul li a {
  color: black;
  font-weight: 800;
}
.banner ul li a i {
  width: .8rem;
  margin-top: .4rem;
  height: .4rem;
  background: url("http://www.zuyushop.com/wap/images/arrow1.gif") no-repeat;
}
