.nav {
  height: .72rem;
  line-height: .72rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ebebeb));
  font-size: .28rem;
  padding-top: .06rem;
}
.nav a {
  color: black;
}
.nav a:first-child {
  padding-left: .1rem;
}
.nav a:last-child {
  text-align: center;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ebebeb));
  width: 1.28rem;
  height: .6rem;
  line-height: .6rem;
  padding: 0 .32rem;
  box-shadow: 0 1px 2px #888;
  border-radius: .1rem;
  margin-right: .2rem;
}
.floor ul li {
  background-color: #fff;
  height: 4.36rem;
  border-bottom: 1px solid #ccc;
  padding-top: .52rem;
}
.floor ul li a {
  display: block;
}
.floor ul li a .pic {
  width: 2.4rem;
  height: 2.34rem;
}
.floor ul li a .pic img {
  width: 2.4rem;
  height: 2.34rem;
}
.floor ul li a .info {
  margin-left: .1rem;
  padding-top: .3rem;
}
.floor ul li a .info .tit {
  color: #333;
  font-size: .28rem;
  padding-bottom: .36rem;
}
.floor ul li a .info p {
  color: #ea3900;
  font-size: .36rem;
}
.page {
  height: .92rem;
}
.page span {
  text-align: center;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ebebeb));
  height: .64rem;
  line-height: .64rem;
  padding: 0 .32rem;
  box-shadow: 0 1px 2px #888;
  border-radius: .1rem;
  margin-right: .2rem;
  display: block;
  margin: .16rem 1.6rem;
}
.page span a {
  color: black;
}
.page select {
  display: block;
  margin-top: .32rem;
  margin-left: 50%;
}
